#header{
	background-color: #a3c2c2;
	color:#ffffff;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Abril Fatface', cursive;
}
#form{
	background-color:#DDE8E9;
	text-align: center;
}
/*.fullPage
{
	background:url(../img/movie3.png) no-repeat;
}*/
#searchtitle a{
	text-decoration: none;		
}

#searchtitle {
	font-family: 'Itim', cursive;
	font-size: 30px;
	color:#ff4000;
}
#displayDetails
{
	font-family: 'Itim', cursive;
	font-size: 20px;
	color:#ff4000;
}
.error
{
	background:url(../img/404.png) no-repeat fixed center;
}